.dashboard{
    margin-left: 30px;
    font-weight: 600;
}
td img{
    height: 100px;
}
.btn{
    width: 70px;
}
td i{
    cursor: pointer;
    display: flex;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top: 2em;
} 
.create-product, .title{
    font-size: 16px;
}